<div class="container" id="how_it_works">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>How It Works</h1>
      <article>
        What was going through the minds of all of Chuck Norris' victims before they died? His shoe, Chuck Norris' hand is the only hand that can beat a Royal Flush Chuck Norris was once stuck in a rut, that rut is now known as the Grand Canyon, Chuck Norris doesn't wash his clothes, he disembowels them. Chuck Norris is the only man to ever defeat a brick wall in a game of tennis, Chuck Norris doesn't wear a watch. HE decides what time it is, What was going through the minds of all of Chuck Norris' victims before they died? His shoe. Try to imagine from where Chuck Norris gets his amazing powers. He gets it from his loveley cat, which named CHUCK THE SECOND, When Chuck Norris does a pushup, he isn't lifting himself up, he's pushing the Earth down Chuck Norris can slam a revolving door Chuck Norris is the only man to ever defeat a brick wall in a game of tennis.

Chuck Norris uses pepper spray to spice up his steaks. Contrary to popular belief, America is not a democracy, it is a Chucktatorship. When Chuck Norris does a pushup, he isn't lifting himself up, he's pushing the Earth down, Chuck Norris doesn't wear a watch. HE decides what time it is, Chuck Norris once roundhouse kicked someone so hard that his foot broke the speed of light, went back in time, and killed Amelia Earhart while she was flying over the Pacific Ocean, There is no chin behind Chuck Norris' beard. There is only another fist Chuck Norris doesn't wear a watch. HE decides what time it is, If you ask Chuck Norris what time it is, he always says, "Two seconds 'til." After you ask, "Two seconds 'til what?" he roundhouse kicks you in the face Chuck Norris went to a Raiders game using a Lakers ticket... and got a sideline pass, A Handicapped parking sign does not signify that this spot is for handicapped people. It is actually in fact a warning, that the spot belongs to Chuck Norris and that you will be handicapped if you park there.

Chuck Norris does NOT plank. He merely pushes the Earth lower Chuck Norris doesn't wash his clothes, he disembowels them. Chuck Norris can lead a horse to water AND make it drink, Chuck Norris once roundhouse kicked someone so hard that his foot broke the speed of light, went back in time, and killed Amelia Earhart while she was flying over the Pacific Ocean. Chuck Norris wore sunglasses to protect the sun from his intense gaze, Chuck Norris is the only man to ever defeat a brick wall in a game of tennis, When Chuck Norris does a pushup, he isn't lifting himself up, he's pushing the Earth down. Remember the Soviet Union? They decided to quit after watching a DeltaForce marathon on Satellite TV The quickest way to a man's heart is with Chuck Norris' fist. Chuck Norris is the only man to ever defeat a brick wall in a game of tennis.

Chuck Norris is ten feet tall, weighs two-tons, breathes fire, and could eat a hammer and take a shotgun blast standing, Someone once videotaped Chuck Norris getting pissed off. It was called Walker: Texas Chain Saw Massacre Chuck Norris is so fast, he can run around the world and punch himself in the back of the head, How many roundhouse kicks does it take to get to the center of a tootsie pop? Just one. From Chuck Norris.

      </article>
    </div>
  </div>
</div>
